body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.banner-section{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(244,205,220);
}
h1{
   font-size: 80px;
}
h2{
   font-size: 30px;
}
.banner-text{
    text-align: left;
   padding-top: 10px;
   padding-left: 100px;
}
 .banner-img-section{
    height: 100%;
 }
.banner-button{
    border: none;
    color: azure;
    font-weight: 700;
    background-color: rgba(252, 109, 7, 0.842);
    padding:10px 20px;
    border-radius: 5px;
}
.Featured-section{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Featured-section img{
    height: 400px;
    padding: 10px 10px 0 10px;
    border-radius: 150px 150px 0 0;
}
#feature1{
    background: rgba(167, 33, 98, 0.15);
}
#feature2{
    background: rgba(5, 151, 160, 0.15);
}
#feature3{
    background: rgba(71, 125, 17, 0.15);
}
.Featured-section a{
    color: #272727;
    font-size: 24px;
    font-weight: 30px;
    line-height: 35px;
    margin-top: 25px;
    display: block;
    text-align: center;
}
.featured-title{
    text-align: center;
}
.support{
    background-color: rgb(255,255,255);
    padding: 80px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
#support-title{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.support-img{
   width: 80px;
}
.support-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

